<main class="mt-5">
    <div class="container">
        <div class="card mx-auto" style="width:500px;">
            <div class="card-header">
                <img class="card-img-top mx-auto m-2 rounded-circle"  src="/img/4839864.jpg" alt="Logo" style="width: 150px; height:150px; display:block;">
            </div>
            <h3 class="text-uppercase text-center p-d">Crud con node js y mysql</h3>
        </div>
        <div class="card-body text-center">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est nisi eveniet eum explicabo porro vel, blanditiis sequi quibusdam aspernatur incidunt quasi totam, facere ea doloribus ex eligendi fugit a quod?</p>

            <a href="/add" class="btn btn-primary">Crear una persona</a>
        </div>
    </div>
</main>